<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
    <title>Zili &ndash; Blog</title>
    <link rel="stylesheet"  type="text/css" href="/static/css/layouts/blog.css">
    <link rel="stylesheet"  type="text/css" href="/static/css/layouts/monokai.css">
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?58793c0e3ae8135d058b27294abfbd0a";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script>

</head>
<body>



<div id="layout" class="pure-g">
    <div class="sidebar pure-u-1 pure-u-md-1-4">
        <div class="header">
            <h2 class="brand-title">Zili Blog</h2>
            <h4 class="brand-tagline">cn.zili.lee@gmail.com</h4><p>
            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a class="button-success pure-button" href="/">主页</a>
                    </li>
                    <li class="nav-item">
                        <a class="button-success pure-button" href="{% url "archives" %}" target="_blank"/">归档</a>
                    </li>
                    <li class="nav-item">
                        <a class="button-success pure-button" href="{% url "category" %}" target="_blank"/">分类</a>
                    </li><p><p>
                    <form class="pure-form" action="/search/" method="get">
                        <input class="pure-input-3-3" type="text" name="s" placeholder="search">
                    </form>
                    <p>
                </ul>
            </nav>
        </div>

        <div class="pure-menu custom-restricted-width">
            <ul class="pure-menu-list">
                <li class="pure-menu-item pure-menu-selected"><a class="button-success pure-button" href="http://blog.dl1548.site" target="_blank"/">备用地址</a></li>
                <li class="pure-menu-item pure-menu-has-children">
                    <a href="#" id="menuLink1" class="pure-menu-link">友情链接</a>
                    <ul class="pure-menu-children">
                        <li class="pure-menu-item"><a href="#" class="pure-menu-link">暂</a></li>
                        <li class="pure-menu-item"><a href="#" class="pure-menu-link">无</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="content pure-u-1 pure-u-md-3-4">
        <div>
            {% block content %}
            {% endblock %}


            <div class="footer">
                <div class="pure-menu pure-menu-horizontal pure-menu-open">
                    <a href="http://www.beianbeian.com/">豫ICP备17037562号</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/changyan.js" ></script>
<script type="text/javascript">
window.changyan.api.config({
appid: 'cythS3OwJ',
conf: 'prod_00b5ecbbb92e8ba3ff5b18628f1a2a09'
});
</script>
</body>
</html>
